@model EntidadesData.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idusuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
