@model dynamic
@{
    ViewBag.Title = "Index";
    string grillaInicial = "-mas-4- -mas-6- -mas-8-";
}

<section class="page__header m--bg-black" style="background-image: url('@ViewBag.hostStaticUrl\images/cuyuni-interna.jpg');">
    <div class="limit page__header__inset">
        <a href="/festividades" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a festividades</span></a>
        <h2 class="page__header__titulo">Turismo comunitario</h2>
        <p class="page__header__resumen">Descubre las costumbres, tradiciones e intereses de los hermosos destinos turísticos de nuestro país.</p>
    </div>
</section>

<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <strong class="destinos__subtitulo m--gris">Descubre nuevas experiencias</strong>
            <strong class="destinos__subtitulo-mobile m--gris">Descubre nuevas experiencias</strong>
            <div class="filtro-selector fnFiltroSelectorValidar" data-target="#fnTargetFiltroGrilla">

                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Mostrar todo</strong>
                </div>
                @foreach (ytuqueplanes.Models.CategoriaComunitario cat in Model.categories)
                {
                    <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="@cat.nombre">
                        <strong>@cat.nombre</strong>
                    </div>
                }
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Mostrar todo</option>
                        @foreach (ytuqueplanes.Models.CategoriaComunitario cat in Model.categories)
                        {
                            <option value="@cat.nombre" data-filtro="@cat.nombre">@cat.nombre</option>

                        }
                        </select>
                </div>
            </div>

            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- @grillaInicial">
                <div class="seccion__grilla__bloques">
                    @foreach (ytuqueplanes.Models.Comunitarios coms in Model.comunitarios)
                    {
                        <article class="card-poster m--tipo3" data-filtro="@coms.categorias">
                            <img src="@ViewBag.hostStaticUrl@coms.thumb" alt="" class="card-poster__imagen">
                            <address class="card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@coms.provincia</address>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">@coms.titulo</h1>
                            </header>
                            <a href="/turismo-comunitario/@coms.slug" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    }
                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>
</main>

