@model dynamic
@{
    ViewBag.Title = "Index";
}
<!-- Resultado de busqueda -->
<div class="page__header m--limpio m--resultados">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver-verde.svg" alt=""><span>Volver a Inicio</span></a>
        <aside id="buscador-principal" class="buscador-principal m--resultados">
            <form class="buscador-principal__form" action="/buscar" method="get">
                <input type="text" placeholder="¿Necesitas información sobre algo?" name="s" class="buscador-principal__input">
                <button type="submit" class="buscador-principal__boton">></button>
            </form>
            <strong class="buscador-principal__subtitulo">Lo más buscado por los viajeros</strong>
            <p class="buscador-principal__tags">
                <a href="#">Churín</a> <a href="#">Tarapoto</a> <a href="#">Lunahuaná</a> <a href="#">Huaraz</a> <a href="#">Iquitos</a>
            </p>
        </aside>
    </div>
</div>

<main class="seccion m--no-top">
    @if (ViewBag.totalDestino > 0)
    {
        <section class="seccion m--slider-standard">
            <div class="limit">
                <h3 class="seccion__titulo m--left">Destinos (@ViewBag.totalDestino)</h3>
                <div class="swiper-container seccion__slider fnSliderFree">
                    <div class="swiper-wrapper">
                        @foreach (ytuqueplanes.Models.Atractivo atractivo in Model.atractivos)
                        {

                            <div class="swiper-slide">
                                <article class="card-info m--tipo2">
                                    <img src="@atractivo.banner" alt="@atractivo.titulo" class="card-info__imagen">
                                    <header class="card-info__header">
                                        <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@atractivo.provincia</address>
                                        <!--<aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>-->
                                        <h1 class="card-info__titulo">@atractivo.titulo</h1>
                                    </header>
                                    <a href="/destinos/@atractivo.provincia_slug/@atractivo.destino_slug/@atractivo.slug" class="card-info__mas-informacion">Más información</a>
                                </article>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </section>
    }

    @if (ViewBag.totalRutas > 0)
    {
    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Rutas cortas (@ViewBag.totalRutas)</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    @foreach (ytuqueplanes.Models.RutaProvincia prov in Model.rutas)
                    {
                        <div class="swiper-slide">
                            <article class="card-poster m--tipo5" data-filtro="@prov.categoria">
                                <img src="/@prov.imagen" alt="" class="card-poster__imagen">
                                <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@prov.provincia_nombre</aside>
                                <header class="card-poster__header">
                                    <h1 class="card-poster__titulo">@prov.nombre</h1>
                                    <a href="/rutas-cortas/@prov.provincia_slug/@prov.slug" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver @prov.conteo lugares</strong></a>
                                </header>
                            </article>
                        </div>
                    }
                </div>
            </div>

        </div>
    </section>
    }
    @if (ViewBag.notasTotal > 0) { 
    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Notas (@ViewBag.notasTotal)</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.Relacionados nota in Model.notas)
                    {
                        if (nota.slug != ViewBag.slug)
                        {
                            <div class="swiper-slide">
                                <article class="card-info m--tipo2">
                                    <img src="@nota.imagen" alt="" class="card-info__imagen">
                                    <header class="card-info__header">
                                        <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@nota.provincia</address>
                                        <!--<aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>-->
                                        <h1 class="card-info__titulo">@nota.titulo</h1>
                                    </header>
                                    <a href="/blog-viajero/@nota.provincia_slug/@nota.slug" class="card-info__mas-informacion">Más información</a>
                                </article>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </section>
    }
</main>
<!-- Resultado de busqueda -- FIN -->
