@model dynamic
@{
    ViewBag.Title = "Detalle";
}

<section class="page__header m--bg-black m--destinos-nivel-4" style="background-image: url('@ViewBag.imagen');">
    <div class="limit page__header__inset">
        <a href="/blog-viajero" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a blog viajero</span></a>
        <h2 class="page__header__titulo">@ViewBag.titulo</h2>
        <p class="page__header__resumen">@ViewBag.resumen</p>
    </div>
</section>

<main class="seccion m--no-top">

    <section class="seccion">
        <div class="limit">
            <article class="destinos__detalle">
                @Html.Raw(ViewBag.contenido)
            </article>
            <div class="destinos__detalle__footer">
                <strong class="destinos__detalle__me-gusta">
                    <span>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                    120
                </strong>
                <a href="#" class="destinos__detalle__redes m--facebook fnShareFacebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/intent/tweet?text=Ytuqueplanes&url=https%3A%2F%2Fytuqueplanes.com&hashtags=Viajes,tours" target="_blank" class="destinos__detalle__redes m--twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://api.whatsapp.com/send?text=https://ytuqueplanes.com" target="_blank" class="destinos__detalle__redes m--wsp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>

    @if (ViewBag.total > 0) {
    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Recomendaciones - Descubre más contenidos sobre el Perús</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.Relacionados nota in Model.relacionados)
                    {
                        if (nota.slug != ViewBag.slug)
                        {
                        <div class="swiper-slide">
                            <article class="card-info m--tipo2">
                                <img src="@nota.imagen" alt="" class="card-info__imagen">
                                <header class="card-info__header">
                                    <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@ViewBag.provincia</address>
                                    <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                                    <h1 class="card-info__titulo">@nota.titulo</h1>
                                </header>
                                <a href="/blog-viajero/@ViewBag.provinciaSlug/@nota.slug" class="card-info__mas-informacion">Más información</a>
                            </article>
                        </div>
                        }
                    }
                    </div>
            </div>
        </div>
    </section>
    }

    <section class="seccion m--slider-standard m--tipo2">
        <div class="limit">
            <h3 class="seccion__titulo">Te puede interesar</h3>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-2" data-api-data="{'type[]': 'package', 'limit': '5'}">
                <div class="swiper-wrapper"></div>
            </div>
        </div>
    </section>

</main>
