@model dynamic
@{
    ViewBag.Title = "Provincia";
}

<section class="page__header m--bg-black m--blog" style="background-image: url('@ViewBag.provincia_imagen');">
    <div class="limit page__header__inset">
        <a href="/blog-viajero" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a Blog viajero</span></a>
        <h2 class="page__header__titulo">Blog viajero</h2>
        <p class="page__header__resumen">Descubre de los impresionantes atractivos que puedes visitar en Perú</p>
        <strong class="page__header__subtitulo">¿Que destinos quieres conocer?</strong>
        <div class="boton m--amarillo m--grande filtro-selector__select-ui">
            <strong class="filtro-selector__select-ui__contenido">Ver todos</strong>
            <select class="filtro-selector__select-ui__select fnSelect fnSelectCityBlog">
                <option value="">Ver todos</option>
                @* @foreach (ytuqueplanes.Models.Provincias prov in Model.provincias)
                {
                    <option value="@prov.slug">@prov.nombre</option>

                } *@
            </select>
        </div>
    </div>
</section>

<main class="seccion">

    <div class="seccion m--contenedor-selector">
        <div class="limit">
            <div class="filtro-selector">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltroSliderFree" data-tipo="1">
                    <strong>Notas</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltroSliderFree" data-tipo="2">
                    <strong>Videos</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todas las ofertas</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltroSliderFree">
                        <option value="Notas" data-tipo="1">Notas</option>
                        <option value="Paquetes" data-tipo="2">Videos</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.NumVivencial > 0)
    {
        <section class="seccion m--slider-standard">
            <div class="limit">
                <h3 class="seccion__titulo m--left">Vive nuevas experiencias</h3>
                <div class="swiper-container seccion__slider fnSliderFree">
                    <div class="swiper-wrapper">
                        @foreach (ytuqueplanes.Models.Blog blog in Model.notas)
                        {
                            if (blog.categoria_id == 1)
                            {
                                <div class="swiper-slide" data-tipo="@blog.tipo">
                                    <article class="card-info m--tipo2" data-tipo="@blog.tipo">
                                        <img src="@blog.imagen" alt="" class="card-info__imagen">
                                        <header class="card-info__header">
                                            <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@blog.provincia</address>
                                            <!-- <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>13</aside>-->
                                            <h1 class="card-info__titulo">@blog.titulo</h1>
                                        </header>
                                        <a href="/blog-viajero/@blog.provincia/@blog.slug" class="card-info__mas-informacion">Más información</a>
                                    </article>
                                </div>
                            }
                        }
                    </div>
                </div>
                <aside class="seccion__slider__sin-resultados">No se hallaron resultados</aside>
            </div>
        </section>
    }

    @if (ViewBag.NumGastronomia > 0)
    {
        <section class="seccion m--slider-standard">
            <div class="limit">
                <h3 class="seccion__titulo m--left">Gastronomía</h3>
                <div class="swiper-container seccion__slider fnSliderFree">
                    <div class="swiper-wrapper">

                        @foreach (ytuqueplanes.Models.Blog blog in Model.notas)
                        {
                            if (blog.categoria_id == 2)
                            {
                                <div class="swiper-slide" data-tipo="@blog.tipo">
                                    <article class="card-info m--tipo2" data-tipo="@blog.tipo">
                                        <img src="@blog.imagen" alt="" class="card-info__imagen">
                                        <header class="card-info__header">
                                            <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@blog.provincia</address>
                                            <!-- <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>13</aside>-->
                                            <h1 class="card-info__titulo">@blog.titulo</h1>
                                        </header>
                                        <a href="/blog-viajero/@blog.provincia/@blog.slug" class="card-info__mas-informacion">Más información</a>
                                    </article>
                                </div>
                            }
                        }


                    </div>
                </div>
                <aside class="seccion__slider__sin-resultados">No se hallaron resultados</aside>
            </div>
        </section>
    }
    @if(ViewBag.NumFestividades > 0) {
    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Festividades</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.Blog blog in Model.notas)
                    {
                        if (blog.categoria_id == 3)
                        {
                            <div class="swiper-slide" data-tipo="@blog.tipo">
                                <article class="card-info m--tipo2" data-tipo="@blog.tipo">
                                    <img src="@blog.imagen" alt="" class="card-info__imagen">
                                    <header class="card-info__header">
                                        <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@blog.provincia</address>
                                        <!-- <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>13</aside>-->
                                        <h1 class="card-info__titulo">@blog.titulo</h1>
                                    </header>
                                    <a href="/blog-viajero/@blog.provincia/@blog.slug" class="card-info__mas-informacion">Más información</a>
                                </article>
                            </div>
                        }
                    }


                </div>
            </div>
            <aside class="seccion__slider__sin-resultados">No se hallaron resultados</aside>
        </div>
    </section>
    }
</main>


