@using ytuqueplanes.Models;
@model dynamic
@{
    String twitSite = "@ConoceelPeru";
}
<!DOCTYPE html>
<html class="no-js" lang="es-PE">

<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.seotitle</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.ico">
    <meta name="description" content="@ViewBag.seodescripcion" />
    <meta name="keywords" lang="es" content="@ViewBag.keywords" />
    <link rel="canonical" href="@ViewBag.seourl" />
    <!-- Facebook  -->
    <meta property="fb:admins" content="100002348994943" />
    <meta property="fb:app_id" content="2613846985498810" />
    <meta property="og:site_name" content="@ViewBag.seotitle" />
    <meta property="og:title" content="@ViewBag.seotitle" />
    <meta property="og:type" content="@ViewBag.seotype" />
    <meta property="og:url" content="@ViewBag.seourl" />
    <meta property="og:image" content="@ViewBag.hostStaticUrl@ViewBag.seoimagen" />
    <meta property="og:description" content="@ViewBag.seodescripcion" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@twitSite" />
    <meta name="twitter:title" content="@ViewBag.seotitulo" />
    <meta name="twitter:description" content="@ViewBag.seodescripcion" />
    <meta name="twitter:image" content="@ViewBag.hostStaticUrl@ViewBag.seoimagen">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @if (ViewBag.pageMapa == true)
    {
        <link type="text/css" rel="stylesheet" href="/assets/css/mapa/mapa.css" />
    }
    <link rel="stylesheet" href="/assets/css/site.css?v=10">
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5ZM22Z4');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZM22Z4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    @if (ViewBag.pageMapa != true)
    {
        <header class="header">
            <div class="limit">
                <h1 class="header__titulo-principal">
                    <a href="/"><img src="/assets/images/y-tu-que-planes.png" alt=""></a>
                </h1>
                <nav class="header__nav">
                    <ul class="header__nav__lista">
                        <li class="header__nav__item">
                            @* <a href="https://ytuqueplanes-9c1b7.web.app/" class="header__nav__enlace" target="_blank"><strong>Ofertas</strong></a> *@
                            <span class="header__nav__enlace m--none" target="_blank"><strong>Ofertas</strong></span>
                        </li>
                        <li class="header__nav__item">
                            <a href="/destinos" class="header__nav__enlace @Html.IsActive("Destinos", "Index")">
                                <strong>Destinos</strong>
                            </a>
                            <ul class="header__nav__interno header__nav__destinos -norte-">
                                <span class="header__mapa"></span>
                                <aside class="header__nav__destinos__filtros">
                                    <span class="header__nav__destinos__filtro fnVerDepartamentosPorZona -activo-" data-filtro="-norte-">Norte</span>
                                    <span class="header__nav__destinos__filtro fnVerDepartamentosPorZona" data-filtro="-centro-">Centro</span>
                                    <span class="header__nav__destinos__filtro fnVerDepartamentosPorZona" data-filtro="-sur-">Sur</span>
                                </aside>

                                @foreach (var pr in ViewBag.gprovincias)
                                {
                                    <li class="header__nav__destinos__item" data-filtro="@pr.region.ToLower()">
                                        <a href="/destinos/@pr.slug"
                                           class="header__nav__destinos__enlace @(ViewBag.slugProvincia==pr.slug||ViewBag.provinciaSlug==pr.slug||ViewBag.provincia_slug==pr.slug?"-activo-":"")"
                                           data-mapa="@pr.slug">@pr.nombre</a>
                                    </li>
                                }
                            </ul>
                            <span class="header__nav__enlace__bg"></span>
                            <span class="header__nav__item__ver-mas fnToggleClass"
                                  data-targets=".header__nav__item__ver-mas, .header__nav__destinos"></span>
                        </li>
                        <li class="header__nav__item m--content">
                            <span class="header__nav__enlace @Html.IsActive("Experiencias", "Index")"><strong>Experiencias</strong></span>
                            <span class="header__nav__interno header__nav__experiencias">
                                <span class="header__nav__experiencias__inset">
                                    <a href="/festividades">
                                        <img class="header__nav__experiencias__imagen" src="/assets/images/header-festividades.svg" alt="">
                                        <strong>Festividades</strong>
                                    </a>
                                    @* <a href="/turismo-comunitario">
                                        <img class="header__nav__experiencias__imagen" src="/assets/images/header-turismo.svg" alt="">
                                        <strong>Turismo <br>Comunitario</strong>
                                    </a> *@
                                </span>
                            </span>
                            <span class="header__nav__enlace__bg"></span>
                            <span class="header__nav__item__ver-mas-2 fnToggleClass"
                                  data-targets=".header__nav__item__ver-mas-2, .header__nav__experiencias"></span>
                        </li>
                        <span class="header__nav__item m--logo">
                            <a href="/"><img src="/assets/images/y-tu-que-planes.png" alt=""></a>
                        </span>
                        <li class="header__nav__item">
                            <a href="/rutas-cortas" class="header__nav__enlace @Html.IsActive("Rutas", "Index")"><strong>Rutas cortas</strong></a>
                        </li>
                        <li class="header__nav__item">
                            <a href="/blog-viajero" class="header__nav__enlace @Html.IsActive("BlogViajero", "Index")"><strong>Blog viajero</strong></a>
                        </li>
                        <aside id="buscador-principal" class="header__nav__interno buscador-principal -no-focus-">
                            <form class="buscador-principal__form" action="/buscar" method="get">
                                <input type="text" name="s" placeholder="Busca en Y tu Qué planes…." class="buscador-principal__input">
                                <button type="submit" class="buscador-principal__boton">></button>
                            </form>
                            <strong class="buscador-principal__subtitulo">Lo más buscado por los viajeros</strong>
                            <p class="buscador-principal__tags">
                                <a href="/destinos/lima/churin">Churín</a>
                                <a href="/destinos/san-martin/ciudad-de-tarapoto">Tarapoto</a>
                                <a href="/destinos/lima/lunahuana">Lunahuaná</a>
                                <a href="/destinos/ancash/ciudad-de-huaraz">Huaraz</a>
                                <a href="/destinos/loreto/la-ciudad-de-iquitos">Iquitos</a>
                            </p>
                        </aside>
                    </ul>
                    <aside class="header__nav__submenu">
                        <img src="/assets/images/lupa.svg" alt="" class="header__nav__submenu__lupa fnToggleClass fnMostrarBuscadorPrincipal" data-targets="#buscador-principal, .header__nav__enlace__bg">
                        <a href=""
                           class="header__nav__submenu__enlace -activo- header__nav__submenu__boton-noticias fnToggleClass"
                           data-targets=".header__nav__submenu__menu-noticias"
                           data-removes=".header__nav__submenu__menu-usuario, .header__nav__lista, .header__nav__submenu__boton-menu">
                           <img src="/assets/images/bell.svg" alt="">
                            <!--numerico-->
                           <span class="header__nav__submenu__enlace__numero">1</span>

                        </a>
                        @* <a href="https://ytuqueplanes-9c1b7.web.app/" target="_blank" rel="nofollow"
                           class="header__nav__submenu__enlace m--usuario header__nav__submenu__boton-usuario"
                           data-targets=".header__nav__submenu__menu-usuario"
                           data-removes=".header__nav__submenu__menu-noticias, .header__nav__lista, .header__nav__submenu__boton-menu">
                            <img src="/assets/images/usuario-icono.svg" alt="">
                        </a> *@
                        <span
                           class="header__nav__submenu__enlace m--usuario header__nav__submenu__boton-usuario"
                           data-targets=".header__nav__submenu__menu-usuario"
                           data-removes=".header__nav__submenu__menu-noticias, .header__nav__lista, .header__nav__submenu__boton-menu">
                            <img src="/assets/images/usuario-icono.svg" alt="">
                        </span>
                        <a href="#" title="Mostra Menú"
                           class="header__nav__submenu__enlace header__nav__submenu__boton-menu fnToggleClass"
                           data-targets=".header__nav__submenu__boton-menu, .header__nav__lista"
                           data-removes=".header__nav__submenu__menu-usuario, .header__nav__submenu__menu-noticias">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                        <div class="header__nav__submenu__menu-usuario">
                            <span class="bg-cerrar fnToggleClass"
                                  data-removes=".header__nav__submenu__menu-usuario, .header__nav__submenu__menu-noticias">
                            </span>
                            <div class="header__nav__submenu__menu-usuario__inset">
                                <strong class="header__nav__submenu__menu-usuario__nombre">
                                    Bienvenido, <span>Martín</span>
                                </strong>
                                <ul class="header__nav__submenu__menu-usuario__lista">
                                    <li class="header__nav__submenu__menu-usuario__item"><a href="#" class="header__nav__submenu__menu-usuario__enlace">Editar perfil</a></li>
                                    <li class="header__nav__submenu__menu-usuario__item"><a href="#" class="header__nav__submenu__menu-usuario__enlace">Cambiar contraseña</a></li>
                                    <li class="header__nav__submenu__menu-usuario__item"><a href="#" class="header__nav__submenu__menu-usuario__enlace m--cerrar-sesion">Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__nav__submenu__menu-noticias">
                            <span class="bg-cerrar fnToggleClass"
                                  data-removes=".header__nav__submenu__menu-usuario, .header__nav__submenu__menu-noticias">
                            </span>
                            <div class="header__nav__submenu__menu-noticias__inset">
                                <p class="header__nav__submenu__menu-noticias__ultima-fecha">Última publicación: 21 de Septiembre 2020</p>
                                <div class="header__nav__submenu__menu-noticias__bloque m--alertas">
                                    <strong class="header__nav__submenu__menu-noticias__cabecera">
                                        ALERTAS
                                        <a href="#">Ver todo ></a>
                                    </strong>
                                    <article class="header__nav__submenu__menu-noticias__articulo">
                                        <img src="/assets/images/viaje-seguro-sutran.jpg" alt="" width="70" height="60" />
                                        <div class="header__nav__submenu__menu-noticias__articulo___contenido">
                                            <span class="header__nav__submenu__menu-noticias__articulo__nuevo">Nuevo</span>
                                            <header class="header__nav__submenu__menu-noticias__articulo__header">
                                                <h1 class="header__nav__submenu__menu-noticias__articulo__titulo">Sigue estos consejos para un viaje seguro</h1>
                                            </header>
                                            <a href="/assets/images/ruta-del-viajero-seguro.png" target="_blank" class="header__nav__submenu__menu-noticias__articulo__enlace">Ver más ></a>
                                        </div>
                                    </article>
                                </div>
                                <div class="header__nav__submenu__menu-noticias__bloque m--noticias">
                                    <strong class="header__nav__submenu__menu-noticias__cabecera">
                                        NOTICIAS
                                        <a href="#">Ver todo ></a>
                                    </strong>
                                    <article class="header__nav__submenu__menu-noticias__articulo">
                                        <img src="/assets/images/rutas-cortas-1.jpg" alt="" width="70" height="60" />
                                        <div class="header__nav__submenu__menu-noticias__articulo___contenido">
                                            <span class="header__nav__submenu__menu-noticias__articulo__nuevo">Nuevo</span>
                                            <header class="header__nav__submenu__menu-noticias__articulo__header">
                                                <strong class="header__nav__submenu__menu-noticias__articulo__fecha">Hace 2 semanas</strong>
                                                <h1 class="header__nav__submenu__menu-noticias__articulo__titulo">Todo sobre el COVID 19</h1>
                                            </header>
                                            <a href="#" class="header__nav__submenu__menu-noticias__articulo__enlace">Ver más ></a>
                                        </div>
                                    </article>
                                    <article class="header__nav__submenu__menu-noticias__articulo">
                                        <img src="/assets/images/rutas-cortas-1.jpg" alt="" width="70" height="60" />
                                        <div class="header__nav__submenu__menu-noticias__articulo___contenido">
                                            <span class="header__nav__submenu__menu-noticias__articulo__nuevo">Nuevo</span>
                                            <header class="header__nav__submenu__menu-noticias__articulo__header">
                                                <strong class="header__nav__submenu__menu-noticias__articulo__fecha">Hace 2 semanas</strong>
                                                <h1 class="header__nav__submenu__menu-noticias__articulo__titulo">Todo sobre el COVID 19</h1>
                                            </header>
                                            <a href="#" class="header__nav__submenu__menu-noticias__articulo__enlace">Ver más ></a>
                                        </div>
                                    </article>
                                    <article class="header__nav__submenu__menu-noticias__articulo">
                                        <img src="/assets/images/rutas-cortas-1.jpg" alt="" width="70" height="60" />
                                        <div class="header__nav__submenu__menu-noticias__articulo___contenido">
                                            <span class="header__nav__submenu__menu-noticias__articulo__nuevo">Nuevo</span>
                                            <header class="header__nav__submenu__menu-noticias__articulo__header">
                                                <strong class="header__nav__submenu__menu-noticias__articulo__fecha">Hace 2 semanas</strong>
                                                <h1 class="header__nav__submenu__menu-noticias__articulo__titulo">Todo sobre el COVID 19</h1>
                                            </header>
                                            <a href="#" class="header__nav__submenu__menu-noticias__articulo__enlace">Ver más ></a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <span class="header__nav__enlace__bg"></span>
                    </aside>
                </nav>
            </div>
        </header>
    }

    @RenderBody()

    @if (ViewBag.pageMapa != true)
    {
        <footer class="footer">
            <div class="limit footer__contenido">
                <div class="footer__bloque m--enlaces">
                    <div class="footer__titulo">Información para tu viaje</div>
                    <ul class="footer__lista">
                        <li><a href="https://www.ytuqueplanes.com/pdf/feriados_2020.pdf" target="_blank" class="footer__lista__enlace">Lista de Feriados 2020</a></li>
                        <li><a href="https://www.gob.pe/senamhi" target="_blank" class="footer__lista__enlace">Clima y Pronóstico del Tiempo</a></li>
                        <li><a href="https://www.sernanp.gob.pe/" target="_blank" class="footer__lista__enlace">Áreas Naturales Protegidas</a></li>
                    </ul>
                </div>
                <div class="footer__bloque m--botones">
                    <div class="footer__titulo">Asistencia al viajero 24 horas</div>
                    <a href="https://api.whatsapp.com/send?phone=051944492314&text=&source=&data=&app_absent=" target="_blank" class="boton m--mediano m--235 m--wsp"><strong><i class="fa fa-whatsapp" aria-hidden="true"></i>944492314</strong></a>
                    <img src="/assets/images/i-peru-gris.png" alt="" class="footer__peru">
                    <div class="footer__titulo m--top">Recibe nuevas ofertas y novedades</div>
                    <a href="/suscribete" target="_blank" class="boton m--mediano m--235 m--morado"><strong>Suscribirme</strong></a>
                </div>
                <div class="footer__bloque m--redes">
                    <div class="footer__titulo">Síguenos</div>
                    <div class="footer__redes-wrap">
                        <div class="footer__redes">
                            <a href="https://www.facebook.com/ytuqueplanes/" target="_blank" class="footer__redes__enlace m--facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/conoceelperu" target="_blank" class="footer__redes__enlace m--twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/ytuqueplanes/" target="_blank" class="footer__redes__enlace m--instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/visitperu" target="_blank" class="footer__redes__enlace m--youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            <a href="https://open.spotify.com/playlist/7pTRlBhxN2YhkEqtwu0T4k" target="_blank" class="footer__redes__enlace m--spotify"><i class="fa fa-spotify" aria-hidden="true"></i></a>
                        </div>
                        <div class="footer__logos">
                            <img src="/assets/images/promperu.png" alt="" width="66" height="29" />
                            <img src="/assets/images/logo-ministerio.png" alt="" width="152" height="31">
                            <div class="footer__logos__separador"></div>
                            <img src="/assets/images/perumarca.png" alt="" width="44" height="29">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="footer__separador">
            <div class="limit footer__inferior">
                <ul class="footer__inferior__lista">
                    <li><a href="/sitemap" target="_blank" class="footer__inferior__enlace">Mapa de sitio</a></li>
                    <li><a href="#" class="footer__inferior__enlace fnToggleClass" data-targets="#aviso-legal">Aviso legal</a></li>
                    <li><a href="/terminos-y-condiciones" target="_blank" class="footer__inferior__enlace">Términos y Condiciones</a></li>
                </ul>
                <p class="footer__inferior__copyright">Todos los derechos reservados, <span>ytuqueplanes 2020</span></p>
            </div>
        </footer>

        <div id="aviso-legal" class="box">
            <div class="box__inset">
                <span class="bg-cerrar fnToggleClass" data-removes="#aviso-legal"></span>
                <div class="box__contenido">
                    <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
                    <h6 class="box__titulo">Aviso legal</h6>
                    <p>La información contenida en el presente sitio web, tiene por objeto la facilitación de información relacionada a los productos, servicios y/o promociones que puedan ofrecer diferentes empresas del sector turismo de todas las regiones, en adelante LOS TITULARES, con los cuales PROMPERÚ no guarda vinculación de ningún tipo; por lo tanto, PROMPERÚ no asumirá responsabilidad, bajo ninguna circunstancia, por el daño o perjuicio, directo o indirecto, que se pueda generar y/o derivar por la información, parcial o total, incluida en esta página, la cual ha sido elaborada a su vez en virtud a la información facilitada por LOS TITULARES. De igual forma, PROMPERÚ no asumirá responsabilidad alguna por la exactitud, calidad o idoneidad del bien o servicio ofrecido por LOS TITULARES y que es referido en la presente página web, los que serán de exclusiva responsabilidad de cada uno de los titulares.</p>
                    <p>Asimismo, PROMPERÚ no es responsable por las modificaciones y/o actualizaciones que, sin previo aviso, LOS TITULARES puedan efectuar respecto a la información contenida en la presente página web o en su página web o redes sociales; debiendo asumir LOS TITULARES, de forma íntegra y exclusiva, la responsabilidad por cualquier daño o perjuicio, directo o indirecto, que se pueda generar y/o derivar de ellos.</p>
                    <p>En tal sentido, PROMPERÚ recomienda evaluar la conveniencia de ponerse en contacto directo con cada uno de LOS TITULARES, para tener un mejor, cabal y oportuno conocimiento respecto de los términos y condiciones de los productos, servicios y/o promociones que puedan ofrecer.</p>
                    @* <div class="boton-contenedor">
                        <a href="#" class="boton m--verde m--grande"><strong>Continuar</strong></a>
                    </div> *@
                    <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#aviso-legal" />
                </div>
            </div>
        </div>

        <span class="header__mapa__fuente"></span>

        <div class="share__general">
            <a href="#" target="_blank" class="destinos__detalle__redes m--share fnShare"> <img src="/assets/images/share.svg" alt=""> </a>
            <a href="#" class="destinos__detalle__redes m--facebook fnShareFacebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="destinos__detalle__redes m--twitter fnShareTwitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" target="_blank" class="destinos__detalle__redes m--wsp fnShareWsp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </div>
    }

    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

    @if (ViewBag.pageMapa != true)
    {
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script src="/assets/js/site.js?v=10"></script>
    }
    else
    {
        <script type="text/javascript" src="/assets/js/mapa/mapa.js?v=12"></script>
    }


</body>
</html>
