@model dynamic
@{
    ViewBag.Title = "Inicio";
    @* @ObjectInfo.Print(Model.sliders); *@
}

@{int icss = 1; int islide = 1;}
@foreach (ytuqueplanes.Models.Slide slide in Model.sliders)
{
<style type="text/css" media="screen and (min-width: 1401px)"> .slider-@icss { background-image:url('@ViewBag.hostStaticUrl@slide.imagen_xl'); } </style>
<style type="text/css" media="screen and (min-width: 801px) and (max-width: 1400px)"> .slider-@icss { background-image:url('@ViewBag.hostStaticUrl@slide.imagen_lg'); } </style>
<style type="text/css" media="screen and (min-width: 501px) and (max-width: 800px)"> .slider-@icss { background-image:url('@ViewBag.hostStaticUrl@slide.imagen_md'); } </style>
<style type="text/css" media="screen and (max-width: 500px)"> .slider-@icss { background-image:url('@ViewBag.hostStaticUrl@slide.imagen_sm'); } </style>
    icss++;
}
<section class="all swiper-container sliders fnSliderHome">
    <div class="swiper-wrapper">
        @foreach (ytuqueplanes.Models.Slide slide in Model.sliders)
        {
            <article class="swiper-slide slider slider-@islide">
                <div class="limit">
                    @* <div class="slider__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Amazonas</div> *@
                    <h2 class="slider__titulo">@slide.titulo</h2>
                    <p class="slider__contenido">@slide.descripcion</p>
                    <a href="@slide.url" title="" class="boton m--grande m--verde"><strong>Más información</strong></a>
                </div>
            </article>
            islide++;
        }
    </div>

    <div class="limit">
        <div class="sliders__nav">
            <div class="sliders__nav__items">
                @{
                    int i = 1;
                    foreach (ytuqueplanes.Models.Slide slide in Model.sliders)
                    {
                        <div class="sliders__nav__item ">i</div>
                        i++;
                    }
                }
            </div>
            <div class="sliders__nav__space"></div>
            <div id="fnSliderPlayPause" class="sliders__nav__play fnSliderPlayPause"></div>
        </div>
    </div>
</section>

<main class="seccion">

    @* <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡No hay excusas!</h2>
                <p class="seccion__resumen">Encuentra las mejores ofertas para tu próximo viaje.</p>
                <a href="https://ytuqueplanes-9c1b7.web.app/" target="_blank" class="boton m--amarillo m--grande m--235"><strong>Ver todas las ofertas</strong></a>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1" data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper"></div>
            </div>
            <a href="https://ytuqueplanes-9c1b7.web.app/" target="_blank" class="boton m--amarillo m--grande m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></a>
        </div>
    </section> *@

    <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡Próximamente!</h2>
                <p class="seccion__resumen">Los viajes por el Perú aún no se han reactivado. Más adelante tendremos las mejores ofertas y tours</p>
                <div class="boton m--verde m--grande m--235"><strong>Muy pronto</strong></div>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1" data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper"></div>
            </div>
            <div class="boton m--verde m--grande m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></div>
        </div>
    </section>

    <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¿No sabes a dónde ir?</h2>
                <p class="seccion__resumen">Descubre nuevas ideas de viaje gracias a las recomendaciones de nuestros viajeros.</p>
                <a href="/blog-viajero" class="boton m--verde-hoja m--grande m--235"><strong>Ir al Blog</strong></a>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                 @foreach (ytuqueplanes.Models.Blog blog in Model.notas) {
                    <div class="swiper-slide">
                        <article class="card-info m--tipo1">
                            <img src="@ViewBag.hostStaticUrl@blog.thumb" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@blog.provincia</address>
                               <!-- <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>-->
                                <h1 class="card-info__titulo">@blog.titulo</h1>
                            </header>
                            <a href="/blog-viajero/@blog.provincia_slug/@blog.slug" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                  }
                </div>
            </div>
            <a href="/blog-viajero" class="boton m--verde-hoja m--grande seccion__boton-mobile"><strong>Ir al Blog</strong></a>
        </div>
    </section>


    <section class="seccion">
        <div class="limit">
            <article class="card-full" style="background-image: url('/assets/images/rutas-cortas-1.jpg');">
                <header><h1 class="card-full__titulo">Rutas cortas</h1></header>
                <p class="card-full__contenido">Una buena experiencia turística puede estar cerca de ti.</p>
                <a href="/rutas-cortas" class="boton m--grande m--morado m--padding-pequeno"><strong>Ver rutas</strong></a>
            </article>
        </div>
    </section>

    <section class="seccion m--slider-grilla">
        <div class="limit section__inset">
            <h4 class="seccion__titulo">Festivales y eventos</h4>
            <div class="swiper-container seccion__slider fnSliderGrilla">
                <div class="swiper-wrapper">
                    @foreach (ytuqueplanes.Models.Festividad festividad in Model.festividades) {
                        <div class="swiper-slide">
                            <article class="card-info m--tipo3">
                                <img src="@ViewBag.hostStaticUrl@festividad.thumb" alt="" class="card-info__imagen">
                                <header class="card-info__header">
                                    <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@festividad.provincia</address>
                                    <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>1</aside>
                                    <h1 class="card-info__titulo">@festividad.nombre</h1>
                                    <aside class="card-info__fecha">@festividad.inicio @festividad.mes</aside>
                                </header>
                                <a href="/festividades/detalle/@festividad.slug" class="card-info__mas-informacion">Más información</a>
                            </article>
                        </div>
                    }
                </div>
            </div>
            <div class="boton-contenedor">
                <a href="/festividades" class="boton m--morado m--grande m--padding-pequeno"><strong>Ver calendario de festividades</strong></a>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard m--tipo7">
        <div class="limit">
            <h3 class="seccion__titulo">Últimas noticias</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo7">
                            <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <strong class="card-info__empresas">empresas</strong>
                                <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                            </header>
                            <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                            <aside class="card-info__last">
                                De: <a href="#">infotur.com</a><br>
                                17 de setiembre, 2020
                            </aside>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo7">
                            <img src="/assets/images/macchu.png" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <strong class="card-info__empresas">empresas</strong>
                                <h1 class="card-info__titulo">Lonely Planet destaca reforestación en Machu Picchu para garantizar su sostenibilidad</h1>
                            </header>
                            <p class="card-info__texto">La iniciativa de reforestación “Un millón de árboles para Machu Picchu” concita una creciente atención mundial. Esta vez, la prestigiosa publicación de viajes y turismo internacional Lonely Planet destaca el esfuerzo de los sectores público y privado del Perú para minimizar la huella de carbono dejada por 1.5 millones de turistas que visitan cada año la ciudadela inca. Según el Ministerio del Ambiente, la campaña “Un millón de árboles para el Santuario Histórico de Machu Picchu y su zona de amortiguamiento" tiene como reto, al 2021, recuperar espacios degradados en dicho ecosistema. Esta recuperación será equivalente a 779.42 hectáreas.</p>
                            <aside class="card-info__last">
                                De: <a href="#">Andina</a><br>
                                17 de setiembre, 2020
                            </aside>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo7">
                            <img src="/assets/images/indecopi.png" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <strong class="card-info__empresas">empresas</strong>
                                <h1 class="card-info__titulo">Indecopi busca registrar la Marca Perú en el mundo para evitar su uso inescrupuloso</h1>
                            </header>
                            <p class="card-info__texto">Si usted es empresario y desea usar la Marca Perú para exportar sus productos o servicios, para uso institucional o eventos; solo necesita presentar una solicitud ante PROMPERÚ. El requisito es que “al menos el 50% del componente del producto sea de procedencia peruana”. El uso de la Marca Perú no solo es exclusivo para las empresas peruanas. También pueden utilizarlas las empresas extranjeras (no constituidas en el Perú) que promuevan al Perú o que comercialicen productos que cumplan con los requisitos y normas de origen para ser calificados como peruanos.</p>
                            <aside class="card-info__last">
                                De: <a href="#">Gestiónm</a><br>
                                17 de setiembre, 2020
                            </aside>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <section class="seccion">
        <div class="limit">
            <article class="card-full m--centrado" style="background-image: url('/assets/images/bg_card-servicios.jpg');">
                <header><h1 class="card-full__titulo">Servicios complementarios</h1></header>
                <p class="card-full__contenido">Vive un viaje personalizado para ti y tu familia.</p>
                <a href="#" class="boton m--grande m--morado m--padding-pequeno"><strong>Ver servicios</strong></a>
            </article>
        </div>
    </section> *@

</main>

<div id="aviso-home" class="box -activo-">
    <div class="box__inset">
        <span class="bg-cerrar fnToggleClass" data-removes="#aviso-home"></span>
        <div class="box__contenido m--small">
            <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
            <h6 class="box__titulo m--big">Comunicado</h6>
            <div class="boton-contenedor">
                <a href="@ViewBag.hostStaticUrl\images/comunicados/promperu-informa.jpg" target="_blank" class="boton m--verde m--grande"><strong>Clic aquí</strong></a>
            </div>
            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#aviso-home" />
        </div>
    </div>
</div>