@model dynamic
@{
    ViewBag.Title = "Detalle";
    string grillaInicial = Model.destinos.Count>4?"-mas-4-":"";
    grillaInicial = Model.destinos.Count>6?"-mas-4- -mas-6-":grillaInicial;
    grillaInicial = Model.destinos.Count>8?"-mas-4- -mas-6- -mas-8-":grillaInicial;
    @* @ObjectInfo.Print( Model.destinos ); *@
}

<section class="page__header  m--bg-black" style="background-image: url(@ViewBag.imagenProvincia);">
    <div class="limit page__header__inset">
        <a href="/destinos" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a destinos</span></a>
        <h2 class="page__header__titulo">@ViewBag.nombreProvincia</h2>
        <p class="page__header__resumen">Conoce la belleza de este lugar ideal para verdaderos aventureros, escucha sus secretos y deléitate con su comida típica.</p>
    </div>
</section>

<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <strong class="destinos__subtitulo">Vive nuevas experiencias conociendo los mejores lugares turísticos</strong>
            <strong class="destinos__subtitulo-mobile">Mostrar destinos</strong>
            <div class="filtro-selector fnFiltroSelectorValidar" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Vivencial">
                    <strong>Vivencial</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Descanso">
                    <strong>Descanso</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Naturaleza">
                    <strong>Naturaleza</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Aventura">
                    <strong>Aventura</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Historia">
                    <strong>Historia</strong>
                </div>
                <div class="boton m--verde m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="Vivencial" data-filtro="Vivencial">Vivencial</option>
                        <option value="Descanso" data-filtro="Descanso">Descanso</option>
                        <option value="Naturaleza" data-filtro="Naturaleza">Naturaleza</option>
                        <option value="Aventura" data-filtro="Aventura">Aventura</option>
                        <option value="Historia" data-filtro="Historia">Historia</option>
                    </select>
                </div>
            </div>

            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- @grillaInicial">
                <div class="seccion__grilla__bloques">
                    @foreach (ytuqueplanes.Models.DestinosProvincia destino in Model.destinos)
                    {
                        <article class="card-poster m--tipo3" data-filtro="@destino.filtro">
                            <img src="@destino.thumb" alt="" class="card-poster__imagen">
                            <!--<aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>1</aside>-->
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">@destino.titulo</h1>
                            </header>
                            <a href="/destinos/@ViewBag.slugProvincia/@destino.slug" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    }
                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

    @if (ViewBag.countComollegar > 0)
    {
    <section class="seccion m--slider-standard m--transporte">
        <div class="limit">
            <h3 class="seccion__titulo">¿No sabes como llegar? Mira las siguientes opciones de transporte disponibles</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.Comollegar como in Model.comollegar)
                    {

                        <div class="swiper-slide">
                            <article class="card-transporte">
                                <header class="card-transporte__header">
                                    <figure class="card-transporte__imagen">
                                        <img src="@como.comollegarIcon" alt="@como.comollegarAlt" />
                                    </figure>
                                    <strong class="card-transporte__titulo">@como.comollegarNombre</strong>
                                </header>
                                <dl class="card-transporte__lista">
                                    <dt>Duración:</dt>
                                    <dd> @como.duracion</dd>

                                    @if (como.comollegarID == 1)
                                    {
                                        <dt>Aerolíneas:</dt>
                                        <dd>@como.empresa</dd>
                                    }
                                    @if (como.comollegarID == 2)
                                    {
                                        <dt>Empresas:</dt>
                                        <dd>@como.empresa</dd>
                                    }
                                    @if (como.comollegarID == 3)
                                    {
                                        <dt>Distancia:</dt>
                                        <dd>@como.distancia</dd>
                                    }

                                    @if (como.comollegarID == 4)
                                    {
                                        <dt>Empresas:</dt>
                                        <dd>@como.empresa</dd>
                                    }
                                    @if (como.comollegarID == 7)
                                    {
                                        <dt>Empresas:</dt>
                                        <dd>@como.empresa</dd>
                                    }
                                    @if (como.comollegarID == 8)
                                    {
                                        <dt>Empresas:</dt>
                                        <dd>@como.empresa</dd>
                                    }
                                </dl>
                                @if (como.waze != null)
                                {
                                <a href="@como.waze" class="card-transporte__enlace-inferior">Abrir ruta en Waze</a>
                                }
                                @if (como.recomendar == 1)
                                {
                                    <span class="card-transporte__recomendado">Recomendado</span>
                                }
                            </article>
                        </div>
                    }
                    </div>
            </div>
            @if (ViewBag.tenencuenta!=null)
            {
            <p class="seccion__texto-inferior">
                <strong>Ten en cuenta:</strong> @ViewBag.tenencuenta
            </p>
            }
        </div>
    </section>

    }
    <section class="seccion">
        <div class="limit">
            <article class="card-full" style="background-image: url('/assets/images/rutas-cortas-6.jpg');">
                <header><h1 class="card-full__titulo">Rutas cortas</h1></header>
                <p class="card-full__contenido">Una buena experiencia turística puede estar cerca de ti.</p>
                <a href="/rutas-cortas" class="boton m--grande m--morado m--padding-pequeno"><strong>Ver rutas</strong></a>
            </article>
        </div>
    </section>

    @* <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡No hay excusas!</h2>
                <p class="seccion__resumen">Encuentra las mejores ofertas para tu próximo viaje.</p>
                <a href="/ofertas" class="boton m--amarillo m--grande m--235"><strong>Ver todas las ofertas</strong></a>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1"
                data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper">
                </div>
            </div>
            <a href="/ofertas" class="boton m--amarillo m--grande m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></a>
        </div>
    </section> *@

    <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡Próximamente!</h2>
                <p class="seccion__resumen">Los viajes por el Perú aún no se han reactivado. Más adelante tendremos las mejores ofertas y tours</p>
                <div class="boton m--verde m--grande m--235"><strong>Muy pronto</strong></div>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1" data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper"></div>
            </div>
            <div class="boton m--amarillo mverde m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></div>
        </div>
    </section>

    <section class="seccion m--bg-tramado m--slider-standard m--festividades">
        <div class="limit section__inset">
            <h4 class="seccion__titulo">Festivales y eventos</h4>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    @foreach (ytuqueplanes.Models.Festividad festivo in Model.festividades)
                    {
                        <div class="swiper-slide">
                            <article class="card-info m--tipo3">
                                <img src="@festivo.imagen" alt="@festivo.nombre" class="card-info__imagen">
                                <header class="card-info__header">
                                    <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@festivo.provincia</address>
                                    <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>1</aside>
                                    <h1 class="card-info__titulo">@festivo.nombre</h1>
                                    <aside class="card-info__fecha">@festivo.mes_id @festivo.mes</aside>
                                </header>
                                <a href="/festividades/detalle/@festivo.slug" class="card-info__mas-informacion">Más información</a>
                            </article>
                        </div>
                    }
                </div>
            </div>
            <div class="boton-contenedor">
                <a href="/festividades" class="boton m--morado m--grande m--padding-pequeno"><strong>Ver calendario de festividades</strong></a>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Te puede interesar</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    @foreach (ytuqueplanes.Models.Destacado destacado in Model.destacados)
                    {

                        <div class="swiper-slide">
                            <article class="card-info m--tipo2">
                                <img src="@destacado.imagen" alt="@destacado.titulo" class="card-info__imagen">
                                <header class="card-info__header">
                                    <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@destacado.provincia</address>
                                    <!--<aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>-->
                                    <h1 class="card-info__titulo">@destacado.titulo</h1>
                                </header>
                                <a href="/destinos/@destacado.provincia_slug/@destacado.destino_slug/@destacado.slug" class="card-info__mas-informacion">Más información</a>
                            </article>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

</main>