@model dynamic
@{
    ViewBag.Title = "Index";
    string grillaInicial = Model.provincias.Count>4?"-mas-4-":"";
    grillaInicial = Model.provincias.Count>6?"-mas-4- -mas-6-":grillaInicial;
    grillaInicial = Model.provincias.Count>8?"-mas-4- -mas-6- -mas-8-":grillaInicial;
    @* @ObjectInfo.Print(grillaInicial); *@
}

@foreach (ytuqueplanes.Models.Slide slide in Model.sliders)
{

    <section class="page__header m--bg-black" style="background-image: url('@ViewBag.hostStaticUrl@slide.imagen_lg');">
        <div class="limit page__header__inset">
            <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
            <h2 class="page__header__titulo">@slide.titulo</h2>
            <p class="page__header__resumen">@slide.descripcion</p>
        </div>
    </section>
}
<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <div class="filtro-selector" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Norte">
                    <strong>Norte</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Centro">
                    <strong>Centro</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Sur">
                    <strong>Sur</strong>
                </div>
                <div class="boton m--verde m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="Norte" data-filtro="Norte">Norte</option>
                        <option value="Centro" data-filtro="Centro">Centro</option>
                        <option value="Sur" data-filtro="Sur">Sur</option>
                    </select>
                </div>
            </div>

            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- @grillaInicial">
                <div class="seccion__grilla__bloques">

                    @foreach (ytuqueplanes.Models.Provincias provincia in Model.provincias)
                    {

                    <article class="card-poster m--tipo3" data-filtro="@provincia.region">
                        <img src="@ViewBag.hostStaticUrl@provincia.thumb" alt="" class="card-poster__imagen">
                        <!--<aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>0</aside>-->
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">@provincia.nombre</h1>
                        </header>
                        <a href="/destinos/@provincia.slug" class="card-poster__mas-informacion">Más información</a>
                    </article>

                    }

                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Slider horizontal -->
    @* <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡No hay excusas!</h2>
                <p class="seccion__resumen">Encuentra las mejores ofertas para tu próximo viaje.</p>
                <a href="/ofertas" class="boton m--amarillo m--grande m--235"><strong>Ver todas las ofertas</strong></a>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1" data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper"></div>
            </div>
            <a href="/ofertas" class="boton m--amarillo m--grande m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></a>
        </div>
    </section> *@

    <section class="seccion m--slider-horizontal">
        <div class="limit seccion__inset">
            <article class="seccion__contenido">
                <h2 class="seccion__titulo">¡Próximamente!</h2>
                <p class="seccion__resumen">Los viajes por el Perú aún no se han reactivado. Más adelante tendremos las mejores ofertas y tours</p>
                <div class="boton m--verde m--grande m--235"><strong>Muy pronto</strong></div>
            </article>
            <div class="swiper-container seccion__slider fnSliderFree" data-api-tipo="card-poster-tipo-1" data-api-data="{'type[]': 'package', 'limit': '3'}">
                <div class="swiper-wrapper"></div>
            </div>
            <div class="boton m--amarillo mverde m--235 seccion__boton-mobile"><strong>Ver todas las ofertas</strong></div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Te puede interesar</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.Destacado destacado in Model.destacados)
                    {

                        <div class="swiper-slide">
                            <article class="card-info m--tipo2">
                                <img src="@destacado.imagen" alt="@destacado.titulo" class="card-info__imagen">
                                <header class="card-info__header">
                                    <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@destacado.provincia</address>
                                    <!--<aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>-->
                                    <h1 class="card-info__titulo">@destacado.titulo</h1>
                                </header>
                                <a href="/destinos/@destacado.provincia_slug/@destacado.destino_slug/@destacado.slug" class="card-info__mas-informacion">Más información</a>
                            </article>
                        </div>

                    }

                </div>
            </div>
        </div>
    </section>

</main>

<!-- Detalle de noticias -->
<section class="page__header m--bg-black" style="background-image: url('/assets/images/rutas-cortas-1.jpg');">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Noticias</h2>
    </div>
</section>

<main class="seccion m--top">

    <section class="seccion m--grilla-poster m--noticias">
        <div class="limit">
            <div class="swiper-container seccion__slider-morado fnSliderMorado">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="seccion__slider-morado__article">
                            <figure class="seccion__slider-morado__imagen">
                                <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                            </figure>
                            <div class="seccion__slider-morado__contenido">
                                <strong class="seccion__slider-morado__subtitulo">Turismo</strong>
                                <h2 class="seccion__slider-morado__titulo">Minsa: “No es momento todavía” para la reactivación del turismo interno ni vuelos internacionales</h2>
                                <p class="seccion__slider-morado__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <cite class="seccion__slider-morado__cita"><strong>De infotur.com</strong> / 25 de agost, 2020</cite>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="seccion__slider-morado__article">
                            <figure class="seccion__slider-morado__imagen">
                                <img src="/assets/images/rutas-cortas-2.jpg" alt="">
                            </figure>
                            <div class="seccion__slider-morado__contenido">
                                <strong class="seccion__slider-morado__subtitulo">Empresas</strong>
                                <h2 class="seccion__slider-morado__titulo">Minsa: “No es momento todavía” para la reactivación del turismo interno ni vuelos internacionales</h2>
                                <p class="seccion__slider-morado__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <cite class="seccion__slider-morado__cita"><strong>De infotur.com</strong> / 3 de junio, 2020</cite>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="seccion__slider-morado__article">
                            <figure class="seccion__slider-morado__imagen">
                                <img src="/assets/images/rutas-cortas-3.jpg" alt="">
                            </figure>
                            <div class="seccion__slider-morado__contenido">
                                <strong class="seccion__slider-morado__subtitulo">Comunidad</strong>
                                <h2 class="seccion__slider-morado__titulo">Minsa: “No es momento todavía” para la reactivación del turismo interno ni vuelos internacionales</h2>
                                <p class="seccion__slider-morado__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <cite class="seccion__slider-morado__cita"><strong>De infotur.com</strong> / 15 de setiembre, 2020</cite>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="seccion__slider-morado__article">
                            <figure class="seccion__slider-morado__imagen">
                                <img src="/assets/images/rutas-cortas-4.jpg" alt="">
                            </figure>
                            <div class="seccion__slider-morado__contenido">
                                <strong class="seccion__slider-morado__subtitulo">Empresas</strong>
                                <h2 class="seccion__slider-morado__titulo">Minsa: “No es momento todavía” para la reactivación del turismo interno ni vuelos internacionales</h2>
                                <p class="seccion__slider-morado__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <cite class="seccion__slider-morado__cita"><strong>De infotur.com</strong> / 3 de junio, 2020</cite>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="seccion__slider-morado__nav">
                    <div class="seccion__slider-morado__nav__atras">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                    <div class="seccion__slider-morado__nav__posicion"><span class="fnNumSlider">1</span>/4</div>
                    <div class="seccion__slider-morado__nav__adelante">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <strong class="destinos__subtitulo">Historial de noticias</strong>
            <strong class="destinos__subtitulo-mobile">Mostrar destinos</strong>
            <div class="filtro-selector" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Turismo">
                    <strong>Turismo</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Política">
                    <strong>Política</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Comunidad">
                    <strong>Comunidad</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Empresas">
                    <strong>Empresas</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="Turismo" data-filtro="Turismo">Turismo</option>
                        <option value="Política" data-filtro="Política">Política</option>
                        <option value="Comunidad" data-filtro="Comunidad">Comunidad</option>
                        <option value="Empresas" data-filtro="Empresas">Empresas</option>
                    </select>
                </div>
            </div>

            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- -mas-3- -mas-6-">
                <div class="seccion__grilla__bloques">
                    <article class="card-info m--tipo7" data-filtro="Turismo">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Turismo</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Turismo">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Turismo</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Política">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Política</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Comunidad">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Comunidad</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Comunidad">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Comunidad</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Empresas">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Empresas</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Empresas">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Empresas</strong>
                            <h1 class="card-info__titulo">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                </div>
                <div class="boton-contenedor">
                    <div class="boton m--verde-hoja m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- Detalle de noticias -- Fin -->