
@{
    ViewBag.Title = "DetalleRuta";
    @* @ObjectInfo.Print(Model.rutas); *@
}

<section class="page__header" style="background-image: url(@ViewData["imagenProvincia"]);">
    <div class="limit page__header__inset">
        <a href="/rutas-cortas" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Desde @ViewData["nombreProvincia"]</h2>
    </div>
</section>

<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <div class="filtro-selector" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="vivencial">
                    <strong>Vivencial</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="descanso">
                    <strong>Descanso</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="naturaleza">
                    <strong>Naturaleza</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="aventura">
                    <strong>Aventura</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="historia">
                    <strong>Historia</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="viajes">
                    <strong>Viajes</strong>
                </div>
                <div class="boton m--verde m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="vivencial" data-filtro="vivencial">Vivencial</option>
                        <option value="descanso" data-filtro="descanso">Descanso</option>
                        <option value="naturaleza" data-filtro="naturaleza">Naturaleza</option>
                        <option value="aventura" data-filtro="aventura">Aventura</option>
                        <option value="historia" data-filtro="historia">Historia</option>
                        <option value="viajes" data-filtro="viajes">Viajes</option>
                    </select>
                </div>
            </div>
            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- -mas-8-">
                <div class="seccion__grilla__bloques">

                     @foreach (ytuqueplanes.Models.RutaProvincia prov in Model.rutas)
                    {
                        <article class="card-poster m--tipo5" data-filtro="@prov.categoria">
                            <img src="@prov.provincia_thumb" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@prov.provincia_nombre</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">@prov.nombre</h1>
                                <a href="/rutas-cortas/@prov.provincia_slug/@prov.slug" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver @prov.conteo lugares</strong></a>
                            </header>
                        </article>

                    } 

                  
                 

                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Mira las rutas destacadas del mes</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="/assets/images/rutas-cortas-8.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 3 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="/assets/images/rutas-cortas-9.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 6 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="/assets/images/rutas-cortas-8.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 9 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="/assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 12 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

