
@{
    ViewBag.Title = "DetalleRuta";
    string grillaInicial = Model.rutas.Count>4?"-mas-4-":"";
    grillaInicial = Model.rutas.Count>6?"-mas-4- -mas-6-":grillaInicial;
    grillaInicial = Model.rutas.Count>8?"-mas-4- -mas-6- -mas-8-":grillaInicial;
    @* @ObjectInfo.Print(Model.rutas); *@
}

<section class="page__header m--bg-black" >
    <div class="page__header__bg-animado">
        <div class="swiper-container page__header__bg-animado__slider fnSliderBg">
            <div class="swiper-wrapper">
                <img class="swiper-slide page__header__bg-animado__imagen" src="@ViewBag.hostStaticUrl@ViewData["imagenProvincia"]">
               
            </div>
        </div>
    </div>
    <div class="limit page__header__inset">
        <a href="/rutas-cortas" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a rutas cortas</span></a>
        <h2 class="page__header__titulo">Desde @ViewData["nombreProvincia"]</h2>
    </div>
</section>


<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <div class="filtro-selector fnFiltroSelectorValidar" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Vivencial">
                    <strong>Vivencial</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Descanso">
                    <strong>Descanso</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Naturaleza">
                    <strong>Naturaleza</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Aventura">
                    <strong>Aventura</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Historia">
                    <strong>Historia</strong>
                </div>
                <div class="boton m--filtro m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Viajes">
                    <strong>Viajes</strong>
                </div>
                <div class="boton m--verde m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="Vivencial" data-filtro="Vivencial">Vivencial</option>
                        <option value="Descanso" data-filtro="Descanso">Descanso</option>
                        <option value="Naturaleza" data-filtro="Naturaleza">Naturaleza</option>
                        <option value="Aventura" data-filtro="Aventura">Aventura</option>
                        <option value="Historia" data-filtro="Historia">Historia</option>
                        <option value="Viajes" data-filtro="Viajes">Viajes</option>
                    </select>
                </div>
            </div>
            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- @grillaInicial">
                <div class="seccion__grilla__bloques">

                     @foreach (ytuqueplanes.Models.RutaProvincia prov in Model.rutas)
                    {
                        <article class="card-poster m--tipo5" data-filtro="@prov.categoria">
                            <img src="@ViewBag.hostStaticUrl@prov.imagen" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@prov.provincia_nombre</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">@prov.nombre</h1>
                                <a href="/rutas-cortas/@prov.provincia_slug/@prov.slug" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver @prov.conteo lugares</strong></a>
                            </header>
                        </article>

                    }

                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Mira las rutas destacadas del mes</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">

                    @foreach (ytuqueplanes.Models.RutaProvincia dest in Model.destacados)
                    {

                        <div class="swiper-slide">
                            <article class="card-poster m--tipo5">
                                <img src="@ViewBag.hostStaticUrl@dest.imagen" alt="" class="card-poster__imagen">
                                <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@dest.provincia_nombre</aside>
                                <header class="card-poster__header">
                                    <h1 class="card-poster__titulo">@dest.provincia_nombre <br>@dest.nombre</h1>
                                    <a href="/rutas-cortas/@dest.provincia_slug/@dest.slug" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver @dest.conteo lugares</strong></a>
                                </header>
                            </article>
                        </div>

                    }


                    </div>
            </div>
        </div>
    </section>

</main>

