@model dynamic
@{
    ViewBag.Title = "Rutas";
    string grillaInicial = Model.provincias.Count>4?"-mas-4-":"";
    grillaInicial = Model.provincias.Count>6?"-mas-4- -mas-6-":grillaInicial;
    grillaInicial = Model.provincias.Count>8?"-mas-4- -mas-6- -mas-8-":grillaInicial;
}

    <section class="page__header m--bg-black" >
        <div class="page__header__bg-animado">
            <div class="swiper-container page__header__bg-animado__slider fnSliderBg">
                <div class="swiper-wrapper">
                    @foreach (ytuqueplanes.Models.Slide sl in Model.slides)
                    { 
                        <img class="swiper-slide page__header__bg-animado__imagen" src="@sl.imagen_lg">
                    }
                </div>
            </div>
        </div>
        <div class="limit page__header__inset">
            <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" ><span>Volver a inicio</span></a>
            <h2 class="page__header__titulo">Rutas cortas</h2>
        </div>
    </section>

<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
           <div class="rutas-cortas__buscador" data-target="#fnTargetFiltroGrilla">
                <h2 class="rutas-cortas__buscador__titulo">¡Que empiece la aventura!</h2>
                <p class="rutas-cortas__buscador__resumen">La Guía de Rutas Cortas es el primer paso para descubrir los lugares más hermosos de las 25 regiones del Perú. En esta sección encontrarás información que iremos compartiendo progresivamente para que disfrutes tu próximo viaje de forma segura y responsable, muy cerca de ti.</p>
                <form class="rutas-cortas__buscador__form">
                    <input id="inputSearchRutasCortas" type="text" class="rutas-cortas__buscador__form__input">
                    @* <button type="submit" class="rutas-cortas__buscador__form__boton">Enviar</button> *@
                    <img src="/assets/images/lupa-negra.svg" alt="" width="20" class="rutas-cortas__buscador__form__lupa">
                </form>
            </div>
            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- @grillaInicial">
                <div class="seccion__grilla__bloques">
                     @foreach (ytuqueplanes.Models.RutaProvincia prov in Model.provincias)
                    {
                        <article class="card-poster m--tipo4" data-filtro="@prov.provincia_slug">
                            <img src="@prov.provincia_thumb" alt="" class="card-poster__imagen">
                            <!-- <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>0</aside>-->
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">@prov.provincia_nombre</h1>
                            </header>
                            <a href="/rutas-cortas/@prov.provincia_slug" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    }

                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
                <aside class="seccion__slider__sin-resultados">No se hallaron resultados</aside>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Mira las rutas destacadas del mes</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">


                    @foreach (ytuqueplanes.Models.RutaProvincia dest in Model.destacados)
                    {

                        <div class="swiper-slide">
                            <article class="card-poster m--tipo5">
                                <img src="/@dest.imagen" alt="" class="card-poster__imagen">
                                <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>@dest.provincia_nombre</aside>
                                <header class="card-poster__header">
                                    <h1 class="card-poster__titulo">@dest.provincia_nombre <br>@dest.nombre</h1>
                                    <a href="/rutas-cortas/@dest.provincia_slug/@dest.slug" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver @dest.conteo lugares</strong></a>
                                </header>
                            </article>
                        </div>

                    }



                </div>
            </div>
        </div>
    </section>

</main>


